In [1]:
%load_ext autoreload
%autoreload 2

In [19]:
from pyforcesim.simulation.databases import Database
import datetime

In [25]:
db = Database(name='test_sim', delete_existing=False, memory_only=True)

In [26]:
name = 'production_areas'
cols_props = {
    'id': 'INTEGER PRIMARY KEY',
    'custom_id': 'TEXT',
    'name': 'TEXT',
    'containing_proc_station': 'BOOLEAN',
}

db.create_table(table_name=name, columns=cols_props)

INFO:pyforcesim.databases:Creating table production_areas...
DEBUG:pyforcesim.databases:Query: CREATE TABLE IF NOT EXISTS production_areas (id INTEGER PRIMARY KEY, custom_id TEXT, name TEXT, containing_proc_station BOOLEAN).
INFO:pyforcesim.databases:Table production_areas created successfully.

In [27]:
name = 'station_groups'
cols_props = {
    'id': 'INTEGER PRIMARY KEY',
    'production_area_id': 'INTEGER NOT NULL',
    'custom_id': 'TEXT',
    'name': 'TEXT',
    'containing_proc_station': 'BOOLEAN',
}
fk_info = db.create_foreign_key_info(
    column='production_area_id',
    ref_table='production_areas',
    ref_column='id',
)

db.create_table(table_name=name, columns=cols_props, foreign_key_info=fk_info)

INFO:pyforcesim.databases:Creating table station_groups...
DEBUG:pyforcesim.databases:Query: CREATE TABLE IF NOT EXISTS station_groups (id INTEGER PRIMARY KEY, production_area_id INTEGER NOT NULL, custom_id TEXT, name TEXT, containing_proc_station BOOLEAN, FOREIGN KEY (production_area_id) REFERENCES production_areas(id)).
INFO:pyforcesim.databases:Table station_groups created successfully.

In [28]:
db.get_columns('station_groups')

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'production_area_id', 'INTEGER', 1, None, 0),
 (2, 'custom_id', 'TEXT', 0, None, 0),
 (3, 'name', 'TEXT', 0, None, 0),
 (4, 'containing_proc_station', 'BOOLEAN', 0, None, 0)]

In [29]:
entry = (
    1,
    'prod_area_test1',
    None,
    False,
)
db.insert('production_areas', entry)

DEBUG:pyforcesim.databases:Prepared insertion query: INSERT INTO production_areas VALUES (?, ?, ?, ?).
DEBUG:pyforcesim.databases:Inserting data into table production_areas with query='INSERT INTO production_areas VALUES (?, ?, ?, ?)'.
DEBUG:pyforcesim.databases:Data inserted successfully.

In [30]:
q = "SELECT * FROM production_areas"
res = db.execute_query(q)
res

[(1, 'prod_area_test1', None, False)]

In [32]:
entry = (
    1,
    1,
    'stat_group1',
    None,
    False,
)
db.insert('station_groups', entry)

DEBUG:pyforcesim.databases:Prepared insertion query: INSERT INTO station_groups VALUES (?, ?, ?, ?, ?).
DEBUG:pyforcesim.databases:Inserting data into table station_groups with query='INSERT INTO station_groups VALUES (?, ?, ?, ?, ?)'.
DEBUG:pyforcesim.databases:Data inserted successfully.

In [33]:
q = "SELECT * FROM station_groups"
res = db.execute_query(q)
res

[(1, 1, 'stat_group1', None, False)]

In [34]:
name = 'resources'
cols_props = {
    'id': 'INTEGER PRIMARY KEY',
    'station_group_id': 'INTEGER NOT NULL',
    'custom_id': 'TEXT',
    'name': 'TEXT',
    'type': 'TEXT',
    'state': 'TEXT',
}
fk_info = db.create_foreign_key_info(
    column='station_group_id',
    ref_table='station_groups',
    ref_column='id',
)
db.create_table(table_name=name, columns=cols_props, foreign_key_info=fk_info)

INFO:pyforcesim.databases:Creating table resources...
DEBUG:pyforcesim.databases:Query: CREATE TABLE IF NOT EXISTS resources (id INTEGER PRIMARY KEY, station_group_id INTEGER NOT NULL, custom_id TEXT, name TEXT, type TEXT, state TEXT, FOREIGN KEY (station_group_id) REFERENCES station_groups(id)).
INFO:pyforcesim.databases:Table resources created successfully.

In [39]:
entry = (
    3,
    1,
    'stat_group1',
    None,
    'machine',
    'WAITING',
)
db.insert('resources', entry)

DEBUG:pyforcesim.databases:Prepared insertion query: INSERT INTO resources VALUES (?, ?, ?, ?, ?, ?).
DEBUG:pyforcesim.databases:Inserting data into table resources with query='INSERT INTO resources VALUES (?, ?, ?, ?, ?, ?)'.

IntegrityError: UNIQUE constraint failed: resources.id

In [36]:
q = "SELECT * FROM resources"
res = db.execute_query(q)
res

[(1, 1, 'stat_group1', None, 'machine', 'WAITING')]

In [3]:
td = datetime.timedelta(days=3, hours=2, milliseconds=100)

In [4]:
td

datetime.timedelta(days=3, seconds=7200, microseconds=100000)

In [41]:
db = Database(name='test', delete_existing=True)

In [42]:
name = 'test'
cols_props = {
    'id': 'INTEGER PRIMARY KEY',
    'custom_id': 'TEXT',
    'datetime': 'DATETIME',
    'date': 'DATE',
    'td': 'TIMEDELTA',
    'bool': 'INTEGER',
}

In [47]:
db.create_table(table_name=name, columns=cols_props)

INFO:pyforcesim.databases:Creating table test...
DEBUG:pyforcesim.databases:Query: CREATE TABLE IF NOT EXISTS test (id INTEGER PRIMARY KEY, custom_id TEXT, datetime DATETIME, date DATE, td TIMEDELTA, bool INTEGER).
INFO:pyforcesim.databases:Table test created successfully.

In [48]:
cols = db.get_columns(table_name=name)

In [49]:
cols

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'custom_id', 'TEXT', 0, None, 0),
 (2, 'datetime', 'DATETIME', 0, None, 0),
 (3, 'date', 'DATE', 0, None, 0),
 (4, 'td', 'TIMEDELTA', 0, None, 0),
 (5, 'bool', 'INTEGER', 0, None, 0)]

In [50]:
entry = (
    12,
    'test',
    datetime.datetime.now(tz=datetime.UTC),
    datetime.date(2023, 12, 3),
    datetime.timedelta(days=3, hours=2, milliseconds=100),
    True
)

In [51]:
db.insert(table_name=name, data=entry)

DEBUG:pyforcesim.databases:Prepared insertion query: INSERT INTO test VALUES (?, ?, ?, ?, ?, ?).
DEBUG:pyforcesim.databases:Inserting data into table test with query='INSERT INTO test VALUES (?, ?, ?, ?, ?, ?)'.
DEBUG:pyforcesim.databases:Data inserted successfully.

In [52]:
entry1 = (
    14,
    'test',
    datetime.datetime.now(tz=datetime.UTC),
    datetime.date(2023, 12, 3),
    datetime.timedelta(days=3, hours=2, milliseconds=100),
    False,
)
entry2 = (
    15,
    'test2',
    datetime.datetime.now(tz=datetime.UTC),
    datetime.date(2020, 12, 3),
    datetime.timedelta(days=30, hours=2, milliseconds=100),
    False,
)
entry3 = (
    18,
    'test3',
    datetime.datetime.now(tz=datetime.UTC),
    datetime.date(2024, 12, 3),
    datetime.timedelta(days=1, hours=2, milliseconds=100),
    True,
)

In [53]:
entries = (entry1, entry2, entry3)

In [54]:
db.insert_many(table_name=name, data=entries)

DEBUG:pyforcesim.databases:Prepared insertion query: INSERT INTO test VALUES (?, ?, ?, ?, ?, ?).
DEBUG:pyforcesim.databases:Inserting data into table test with query='INSERT INTO test VALUES (?, ?, ?, ?, ?, ?)'.
DEBUG:pyforcesim.databases:Data inserted successfully.

In [55]:
q = 'SELECT * from test'
resp = db.execute_query(q)
resp

[(12,
  'test',
  datetime.datetime(2024, 5, 27, 14, 4, 16, 822540, tzinfo=datetime.timezone.utc),
  datetime.date(2023, 12, 3),
  datetime.timedelta(days=3, seconds=7200, microseconds=100000),
  1),
 (14,
  'test',
  datetime.datetime(2024, 5, 27, 14, 4, 20, 718870, tzinfo=datetime.timezone.utc),
  datetime.date(2023, 12, 3),
  datetime.timedelta(days=3, seconds=7200, microseconds=100000),
  0),
 (15,
  'test2',
  datetime.datetime(2024, 5, 27, 14, 4, 20, 719922, tzinfo=datetime.timezone.utc),
  datetime.date(2020, 12, 3),
  datetime.timedelta(days=30, seconds=7200, microseconds=100000),
  0),
 (18,
  'test3',
  datetime.datetime(2024, 5, 27, 14, 4, 20, 719922, tzinfo=datetime.timezone.utc),
  datetime.date(2024, 12, 3),
  datetime.timedelta(days=1, seconds=7200, microseconds=100000),
  1)]

**Test Foreign Key**

In [56]:
# new table
name = 'test_fk'
cols_props = {
    'id': 'INTEGER PRIMARY KEY',
    'custom_id': 'TEXT',
    'datetime': 'DATETIME',
    'date': 'DATE',
    'td': 'TIMEDELTA',
    'bool': 'INTEGER',
    'id_foreign': 'INTEGER',
}
fk_info = db.create_foreign_key_info(
    column='id_foreign',
    ref_table='test',
    ref_column='id',
)

In [57]:
db.create_table(name, cols_props, foreign_key_info=fk_info)

INFO:pyforcesim.databases:Creating table test_fk...
DEBUG:pyforcesim.databases:Query: CREATE TABLE IF NOT EXISTS test_fk (id INTEGER PRIMARY KEY, custom_id TEXT, datetime DATETIME, date DATE, td TIMEDELTA, bool INTEGER, id_foreign INTEGER, FOREIGN KEY (id_foreign) REFERENCES test(id)).
INFO:pyforcesim.databases:Table test_fk created successfully.

In [58]:
entry = (
    30,
    'test',
    datetime.datetime.now(tz=datetime.UTC),
    datetime.date(2023, 12, 3),
    datetime.timedelta(days=3, hours=2, milliseconds=100),
    True,
    25,
)

In [59]:
db.insert('test_fk', entry)

DEBUG:pyforcesim.databases:Prepared insertion query: INSERT INTO test_fk VALUES (?, ?, ?, ?, ?, ?, ?).
DEBUG:pyforcesim.databases:Inserting data into table test_fk with query='INSERT INTO test_fk VALUES (?, ?, ?, ?, ?, ?, ?)'.
DEBUG:pyforcesim.databases:Data inserted successfully.

In [65]:
entry = (
    150,
    'test',
    datetime.datetime.now(tz=datetime.UTC),
    datetime.date(2023, 12, 3),
    datetime.timedelta(days=3, hours=2, milliseconds=100),
    True,
    263,
)

In [66]:
db.insert('test_fk', entry)

DEBUG:pyforcesim.databases:Prepared insertion query: INSERT INTO test_fk VALUES (?, ?, ?, ?, ?, ?, ?).
DEBUG:pyforcesim.databases:Inserting data into table test_fk with query='INSERT INTO test_fk VALUES (?, ?, ?, ?, ?, ?, ?)'.
DEBUG:pyforcesim.databases:Data inserted successfully.

In [67]:
q = 'SELECT * from test_fk'
resp = db.execute_query(q)
resp

[(30,
  'test',
  datetime.datetime(2024, 5, 27, 14, 5, 11, 707360, tzinfo=datetime.timezone.utc),
  datetime.date(2023, 12, 3),
  datetime.timedelta(days=3, seconds=7200, microseconds=100000),
  1,
  25),
 (98,
  'test',
  datetime.datetime(2024, 5, 27, 14, 5, 18, 194084, tzinfo=datetime.timezone.utc),
  datetime.date(2023, 12, 3),
  datetime.timedelta(days=3, seconds=7200, microseconds=100000),
  1,
  15),
 (150,
  'test',
  datetime.datetime(2024, 5, 27, 14, 5, 52, 72211, tzinfo=datetime.timezone.utc),
  datetime.date(2023, 12, 3),
  datetime.timedelta(days=3, seconds=7200, microseconds=100000),
  1,
  263)]

In [22]:
con = db.get_connection()
cur = con.cursor()
q = 'PRAGMA table_info(table_name)'
res = cur.execute()
res.fetchone()

In [23]:
cur = con.cursor()

In [15]:
con = db.get_connection()
cur = con.cursor()
res = cur.execute('SELECT name FROM sqlite_master')
res.fetchone()

('test',)

In [16]:
db.close_connection()

In [20]:
con.close()

In [118]:
cols = ['col1 INTEGER', 'col2 TEXT']
', '.join(cols)

'col1 INTEGER, col2 TEXT'

In [4]:
name = 'test'
cols_props = {
    'col1': 'INTEGER PRIMARY KEY',
    'col2': 'TEXT'
}

In [142]:
query_cols = tuple(' '.join([key, value]) for key, value in cols_props.items())
query_cols = ', '.join(query_cols)

In [143]:
query_cols

'col1 INTEGER PRIMARY KEY, col2 TEXT'

In [146]:
sql_query = f"""
CREATE TABLE {name} ({query_cols})
"""
sql_query

'\nCREATE TABLE test (col1 INTEGER PRIMARY KEY, col2 TEXT)\n'

In [147]:
cur.execute(sql_query)
con.commit()

In [148]:
res = cur.execute('SELECT name FROM sqlite_master')
res.fetchone()

('test',)

In [155]:
from enum import Enum, auto

In [158]:
class ColType(Enum):
    INTEGER = auto()
    REAL = auto()

In [160]:
for i in ColType:
    print(i.name)

INTEGER
REAL

In [164]:
ColType

In [180]:
from typing import Final
DB_COL_TYPES: Final[frozenset[str]] = frozenset([
    'INTEGER',
    'REAL',
    'TEXT',
    'BLOB',
    'DATE',
    'DATETIME',
    'TIMEDELTA',
])
DB_SUPPORTED_COL_CONSTRAINTS: Final[frozenset[str]] = frozenset([
    'NOT NULL',
    'UNIQUE',
    'PRIMARY KEY',
])

In [181]:
from itertools import product

In [185]:
prod = product(DB_COL_TYPES, DB_SUPPORTED_COL_CONSTRAINTS)

In [186]:
{' '.join(entry) for entry in prod}

{'BLOB NOT NULL',
 'BLOB PRIMARY KEY',
 'BLOB UNIQUE',
 'DATE NOT NULL',
 'DATE PRIMARY KEY',
 'DATE UNIQUE',
 'DATETIME NOT NULL',
 'DATETIME PRIMARY KEY',
 'DATETIME UNIQUE',
 'INTEGER NOT NULL',
 'INTEGER PRIMARY KEY',
 'INTEGER UNIQUE',
 'REAL NOT NULL',
 'REAL PRIMARY KEY',
 'REAL UNIQUE',
 'TEXT NOT NULL',
 'TEXT PRIMARY KEY',
 'TEXT UNIQUE',
 'TIMEDELTA NOT NULL',
 'TIMEDELTA PRIMARY KEY',
 'TIMEDELTA UNIQUE'}

In [187]:
{'test', 'rant'}

{'rant', 'test'}

In [1]:
from pyforcesim.simulation import databases

In [2]:
databases.DB_DATA_TYPES_ALLOWED

frozenset({'BLOB',
           'BLOB NOT NULL',
           'BLOB PRIMARY KEY',
           'BLOB UNIQUE',
           'DATE',
           'DATE NOT NULL',
           'DATE PRIMARY KEY',
           'DATE UNIQUE',
           'DATETIME',
           'DATETIME NOT NULL',
           'DATETIME PRIMARY KEY',
           'DATETIME UNIQUE',
           'INTEGER',
           'INTEGER NOT NULL',
           'INTEGER PRIMARY KEY',
           'INTEGER UNIQUE',
           'REAL',
           'REAL NOT NULL',
           'REAL PRIMARY KEY',
           'REAL UNIQUE',
           'TEXT',
           'TEXT NOT NULL',
           'TEXT PRIMARY KEY',
           'TEXT UNIQUE',
           'TIMEDELTA',
           'TIMEDELTA NOT NULL',
           'TIMEDELTA PRIMARY KEY',
           'TIMEDELTA UNIQUE'})

In [29]:
import re

In [105]:
regex = r'(^[_0-9]+)|[\W]|(true|false|select|where|drop|delete|create)'

In [114]:
test = '8889___I%&nject0ion_--AttackDelete'

In [115]:
pattern = re.compile(regex, flags=re.IGNORECASE)

In [116]:
pattern.search(test)

In [117]:
pattern.sub('', test)

'Inject0ion_Attack'

In [1]:
import sqlite3
from datetime import date, datetime, timezone, timedelta

In [2]:
def adapt_date_iso(val):
    """Adapt datetime.date to ISO 8601 date."""
    return val.isoformat()

def adapt_datetime_iso(val):
    """Adapt datetime.datetime to timezone-naive ISO 8601 date."""
    return val.isoformat()

def convert_date(val):
    """Convert ISO 8601 date to datetime.date object."""
    return date.fromisoformat(val.decode())

def convert_datetime(val):
    """Convert ISO 8601 datetime to datetime.datetime object."""
    return datetime.fromisoformat(val.decode())

In [3]:
sqlite3.register_adapter(date, adapt_date_iso)
sqlite3.register_adapter(datetime, adapt_datetime_iso)
sqlite3.register_converter("date", convert_date)
sqlite3.register_converter("datetime", convert_datetime)

In [4]:
statements = (
    'PRAGMA writable_schema = 1',
    'DELETE FROM sqlite_master',
    'PRAGMA writable_schema = 0',
    'VACUUM',
    'PRAGMA integrity_check',
)

In [5]:
conn = sqlite3.connect("geburtstage.db")
cur = conn.cursor()
for exe in statements:
    cur.execute(exe)
    conn.commit()
conn.close()

In [6]:
conn = sqlite3.connect("geburtstage.db")
conn.close()

In [6]:
sql_anweisung = """
SELECT name FROM sqlite_master
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
cur = conn.cursor()
res = cur.execute(sql_anweisung)
print(res.fetchone())
conn.close()

None

In [8]:
verbindung = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
zeiger = verbindung.cursor()

sql_anweisung = """
CREATE TABLE IF NOT EXISTS personen (
vorname VARCHAR(20), 
nachname VARCHAR(30), 
geburtstag datetime
);"""

zeiger.execute(sql_anweisung)

verbindung.commit()
verbindung.close()

OperationalError: database is locked

In [8]:
sql_anweisung = """
SELECT name FROM sqlite_master
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
cur = conn.cursor()
res = cur.execute(sql_anweisung)
print(res.fetchone())
conn.close()

('personen',)

In [9]:
n = 'Test'
sur = 'user'
dt = datetime.now(tz=timezone.utc)
d = date(1990, 1, 1)
dt

datetime.datetime(2024, 5, 23, 13, 31, 52, 434979, tzinfo=datetime.timezone.utc)

In [10]:
sql_anweisung = """
INSERT INTO personen VALUES
(?, ?, ?)
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES | sqlite3.PARSE_COLNAMES)
cur = conn.cursor()
cur.execute(sql_anweisung, (n, sur, dt))
conn.commit()
conn.close()

In [11]:
sql_statement = """
SELECT * FROM personen
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
cur = conn.cursor()
res = cur.execute(sql_statement)
res.fetchall()

[('Test',
  'user',
  datetime.datetime(2024, 5, 23, 13, 31, 52, 434979, tzinfo=datetime.timezone.utc))]

In [12]:
conn.close()

In [13]:
sql_statement = """
SELECT geburtstag FROM personen
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES | sqlite3.PARSE_COLNAMES)
cur = conn.cursor()
res = cur.execute(sql_statement)
ret = res.fetchall()

In [14]:
conn.close()

In [15]:
ret[0][0]

datetime.datetime(2024, 5, 23, 13, 31, 52, 434979, tzinfo=datetime.timezone.utc)

---

In [1]:
import sqlalchemy as sql

In [2]:
sql.__version__

'2.0.31'

In [3]:
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///:memory:", echo=True)

In [16]:
from sqlalchemy import MetaData
metadata_obj = MetaData()

In [17]:
from sqlalchemy import Table, Column, Integer, String
user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30)),
    Column("fullname", String),
)

In [21]:
user_table.c.keys()

['id', 'name', 'fullname']