In [16]:
import sqlite3
from datetime import date, datetime, timezone, timedelta

In [2]:
def adapt_date_iso(val):
    """Adapt datetime.date to ISO 8601 date."""
    return val.isoformat()

def adapt_datetime_iso(val):
    """Adapt datetime.datetime to timezone-naive ISO 8601 date."""
    return val.isoformat()

def convert_date(val):
    """Convert ISO 8601 date to datetime.date object."""
    return date.fromisoformat(val.decode())

def convert_datetime(val):
    """Convert ISO 8601 datetime to datetime.datetime object."""
    return datetime.fromisoformat(val.decode())

In [3]:
sqlite3.register_adapter(date, adapt_date_iso)
sqlite3.register_adapter(datetime, adapt_datetime_iso)
sqlite3.register_converter("date", convert_date)
sqlite3.register_converter("datetime", convert_datetime)

In [4]:
statements = (
    'PRAGMA writable_schema = 1',
    'DELETE FROM sqlite_master',
    'PRAGMA writable_schema = 0',
    'VACUUM',
    'PRAGMA integrity_check',
)

In [5]:
conn = sqlite3.connect("geburtstage.db")
cur = conn.cursor()
for exe in statements:
    cur.execute(exe)
    conn.commit()
conn.close()

In [6]:
sql_anweisung = """
SELECT name FROM sqlite_master
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
cur = conn.cursor()
res = cur.execute(sql_anweisung)
print(res.fetchone())
conn.close()

None

In [7]:
verbindung = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
zeiger = verbindung.cursor()

sql_anweisung = """
CREATE TABLE IF NOT EXISTS personen (
vorname VARCHAR(20), 
nachname VARCHAR(30), 
geburtstag datetime
);"""

zeiger.execute(sql_anweisung)

verbindung.commit()
verbindung.close()

In [8]:
sql_anweisung = """
SELECT name FROM sqlite_master
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
cur = conn.cursor()
res = cur.execute(sql_anweisung)
print(res.fetchone())
conn.close()

('personen',)

In [9]:
n = 'Test'
sur = 'user'
dt = datetime.now(tz=timezone.utc)
d = date(1990, 1, 1)
dt

datetime.datetime(2024, 5, 23, 13, 31, 52, 434979, tzinfo=datetime.timezone.utc)

In [10]:
sql_anweisung = """
INSERT INTO personen VALUES
(?, ?, ?)
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES | sqlite3.PARSE_COLNAMES)
cur = conn.cursor()
cur.execute(sql_anweisung, (n, sur, dt))
conn.commit()
conn.close()

In [11]:
sql_statement = """
SELECT * FROM personen
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES)
cur = conn.cursor()
res = cur.execute(sql_statement)
res.fetchall()

[('Test',
  'user',
  datetime.datetime(2024, 5, 23, 13, 31, 52, 434979, tzinfo=datetime.timezone.utc))]

In [12]:
conn.close()

In [13]:
sql_statement = """
SELECT geburtstag FROM personen
"""
conn = sqlite3.connect("geburtstage.db", detect_types=sqlite3.PARSE_DECLTYPES | sqlite3.PARSE_COLNAMES)
cur = conn.cursor()
res = cur.execute(sql_statement)
ret = res.fetchall()

In [14]:
conn.close()

In [15]:
ret[0][0]

datetime.datetime(2024, 5, 23, 13, 31, 52, 434979, tzinfo=datetime.timezone.utc)